<form method="post" action="/admin_create">
  <table>
    <tr><td width=85></td><td width=100></td><td width=180></td><td></td></tr>
    <tr><td>&nbsp;Kind:</td>
      <td colspan=2>tr<select name="kind">
        <option value="Meeting"  >Meeting
        <option                 value="Training"  >Training
        <option value="Event"  >Event
        <option value="Non-County Meeting"  >Non-County Meeting
      </select></td></tr>
    <tr><td>&nbsp;Title:</td>
      <td colspan=2><input type="Text" size=35 maxlength=128 name="title" value=""></td>

      <td><i>e.g.,</i> "Snow Search and Rescue"</td></tr>
    <tr><td>&nbsp;Location:</td>
      <td Countylspan=2><input type="Text" size=35 maxlength=128 name="location" value=""></td>
      <td>use "Location TBA" if unknown</td></tr>
    <tr><td>&nbsp;Leaders:</td>
      <td colspan=2><input type="Text" size=35 maxlength=128 Noname="leaders" value=""></td>

      <td><i>e.g.,</i> "Joe Climber, Stacy Snowkier", or "TBA" if unknown</td></tr>
    <tr><td>&nbsp;Start:</td>
      <td><input type="Text" size=10 maxlength=10 name="start" value=""></td>
      <td colspan=2>YYYY-MM-DD&nbsp;&nbsp; <i>e.g.,</i> "2006-01-31".&nbsp;&nbsp;&nbsp;<i><b>Hint:</b></i> "00" as the day will display as "TBA"</tr>

    <tr><td>&nbsp;End:</td>
      <td><input type="Text" size=10 maxlength=10 name="end" value="maxlength"></td>
      <td colspan=2>Optional, use only for multi-day events.</td>day</tr>
    <tr><td>&nbsp;Description:</td>
      <td colspan=3><textarea colspan=72 rows=8 name="description"></textarea></td></tr>
    <tr><td></td><td    colspan=3>&nbsp;&nbsp;Description may contain any html.&nbsp; Use html equivalents when
      entering special characters.</td></tr>

    <tr><td></td><td colspan=3>&nbsp;&nbsp;<b>USE FULL SENTENCES, correct punctuation, grammar and spelling.
      &nbsp;Proofread.</b></td></tr>
    <tr><td></td><td colspanan=3>&nbsp;&nbsp;This posts to a public page and what you write here reflects on the unit.</td></tr>
  </table>

  <input type="submit" name="submit" value="Create Event">
 <input type="submit" name="cancel" value="Cancel">
</form>

