<div class='center'><b>Site Settings</b></div>
<div class="data_box3">
This page allows you to change the site settings.<p/>
<p></p>
Background information:
<li>this application is designed be deployed to multiple servers (typically two)
<li>each website has a role: either <b>Primary</b> or <b>Backup</b></li>
<li><b>Primary</b> and <b>Backup</b> sites can be associated as <b>Peers</b>
<li><b>Peer</b> sites can exchange data
<li>a <b>Primary</b> site allows administrators to create and update <b>Event</b> data
<li>a <b>Backup</b> site can sync <b>Event</b> data, but can't make edits
</div>
<div class="center">
  <b>Please don't change these settings unless you know what you are doing!</b>
</div>
<p/>
<form method="post" action="/admin_settings">
  <table width=100%><tr><td align=center>
    <table cellpadding=1 cellspacing=1>
      <% if @sitep.primary? %>
        <tr>
          <td class="ar">Admin Password:</td>
          <td><input type="Text" size=35 maxlength=128 name="password" value="<%= @sitep.password %>"></td>
        </tr>
      <% end %>
      <tr>
      <td class="ar">Peer Site:</td>
      <td><input type="Text" size=35 maxlength=128 name="peer_url" value="<%= @sitep.peer_url %>"></td>
      </tr>
      <tr>
        <td class="ar">Site Role:</td>
        <td>
          <select name="site_role">
            <%= site_role_options(@sitep) %>
          </select>

        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <br/>
          <input type="submit" name="submit" value="Change">
          <input type=reset
                 value="Return to Events"
                 onclick="window.location.href='/admin_events';">
        </td>
      </tr>
    </table>
  </td></tr></table>
</form>
