<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
  <title>Admin Page</title>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin.css'>
</head>
<body>
<div id='container'>
  <div class="center">
    <h2>BAMRU Calendar Admin</h2>
    <%= admin_nav %>
    <div class="notice"><%= get_flash_notice %></div>
    <div class="error"><%= get_flash_error %></div>
  </div>
  <%= yield %>
</div>
</body>
</html>
