<script type="text/javascript">
  $(function() {
    $('#notify').hide();
    $('.zform').click(function() {
      $('#notify').show();
    });
  });
</script>

<div id="notify">
  <p>Working...</p>
</div>

<div class='center'><b>Import CSV Data</b></div>
<div class="data_box2">
This page allows you to import calendar data in CSV format.<br/>
CSV import is primarily for use by system administrators, to
backup and restore data in case of a system crash.
<p></p>
Things to note:
<li>visit <%= link_url("#{current_server}/calendar.csv")%> for an example of valid CSV formatting
<li>invalid Events are rejected (missing title, missing date, etc.)
<li>duplicates are rejected (you can re-load the same data without creating duplicate Events)
<li>use caution! there is no UNDO!! (protip: make a backup CSV file before importing)
</div>
<div class="center"><b>Please don't import CSV data unless you know what you are doing!!</b></div>
<p/>
<table align=center><tr>
  <td width=300 valign=top>
    <b>Import CSV Data from File</b>
    <form action="/admin_data_file" method='post' enctype='multipart/form-data'>
      <input type="file" name="file"/><br/>
      <select name="mode">
        <option value="merge">Merge with Existing Data</option>
        <option value="overwrite">Overwrite Existing Data</option>
      </select><br/>
      <input class="zform" type="submit" value="Upload"/><br/>
    </form>
  </td>
</table>
