<h2>About this System</h2>

Use these pages to create, update and delete BAMRU calendar events.
Edit with care! Your changes go live onto the BAMRU website!<p/>

The server address for this website is http://this/that.com.<br/>
The most recent version of the website was deployed on Jan 5 at 2232.<br/>
There are NN records in our event database. (55 trainings, 22 events, 33 meetings, 22 non-county).

<h2>Bugs and Change Requests</h2>

If you spot bugs, or have  ideas for improving the website, please open an issue using our 
tracker at http://github.com/blah.<p/>

You can also contact the site maintainer, Andy Leak - andy@r210.com - 650-823-0836.

<h2>Syncing with Google Calendar</h2>

You can load all of BAMRU's calendar data into your Google Calendar.  Here's how:

<ol>
  <li>Open your Google Calendar.
  <li>Find the 'Add v' option on the bottom right corner.
  <li>Select the option 'Add by URL'
  <li>Enter http://this_system/calendar.ical
  <li>That's it!
</ol>

Once this is done, your Google Calendar will auto-sync with BAMRU's calendar, 
and you can overlay the BAMRU events onto your other calendars.

<h2>Editing the Website</h2>

The source code for this application is publicly accessible.  Anyone is welcome to 
download the code, learn how it operates, and make enhancements.<p/>
The code is accessible at http://github.com/andyl/BAMRU-Public.<p/>
There is a wiki for site developers at http://github.com/andyl/BAMRU-Public/wiki.

