<div class="header_box"><div>Google Calendar</div></div>

<iframe src="https://www.google.com/calendar/embed?title=BAMRU Trainings and Events&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bamru.calendar%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="420" height="375" frameborder="0" scrolling="no"></iframe>