<div class="header_box"><div>BAMRU and CalTopo</div></div>



  BAMRU is a heavy user of GPS and Mapping tools, and has deep experience
  with a variety of products.  Having quick access to current maps
  is critical for our team.<p></p>

  One of our members has developed CalTopo, a website with printable
  USGS topos for all of California.  It's faster and more convenient than any
  service we've seen.<p></p>

  CalTopo was created for search and rescue teams, and now for the first time
  it is available to the general public.  Give CalTopo a try, and if you like
  it, please consider making a tax-deductible contribution to BAMRU.
  <span style="margin-left: 50px;">
    <a href="http://caltopo.com">http://caltopo.com</a>
  </span>
  <p></p>

  <div class="capsblue ten_px">About BAMRU</div>

  BAMRU is an all-volunteer wilderness search and rescue (SAR) unit, based in
  the San Francisco Bay Area. BAMRU is a free service to the outdoor community.
  We've rescued people and saved lives all over California.
  <p/>
  <div style='text-align: center;'>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="9393182" />
    <input type="image" src="../www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
    <img alt="" border="0" src="../www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
  </div>
  <p/>
  We are an accredited member of the Mountain Rescue Association and are a FEMA and California OES Type I search and rescue resource. This means that we have the ability to operate safely and effectively, night or day, in all terrain, in all weather, and in all seasons.
  <p/>
  Members of BAMRU are climbers, mountaineers, backpackers and skiers who train in a variety of skills used for wilderness search and rescue. BAMRU members live all over the Bay Area, from Marin to Santa Cruz and from San Francisco to Contra Costa County.
  <p/>
  The unit is an independent, tax-exempt public charity as described in IRS section 501(c) (3) (Federal ID 23-7098709).  It is a non-profit corporation with an elected board of directors, affiliated with the San Mateo County (California) Sheriff's Emergency Services Bureau.
  <p/>
  BAMRU is a member organization of the Mountain Rescue Association and the Bay Area Search and Rescue Council (BASARC).
  <p/>
  BAMRU members donate their time for training and emergency operations. No payment is expected for our services.  BAMRU has also sponsored three other teams in achieving their Mountain Rescue Association accreditations.
  <p/>
  BAMRU is also in need of replacing its aging rescue truck with a 3/4 ton or larger 4x4 pickup or 4x4 van, and greatly welcomes donations for its replacement, including a direct donation of a new or reliable and serviceable used vehicle meeting BAMRU's mission needs.
  
</div>