<div class="header_box"><div>Contact Us</div></div>

<div class="content">
  <div class="capsblue ten_px">We look forward to hearing from you.</div>
  <div class="summary ten_px"><b>Bay Area Mountain Rescue Unit</b></div>
  <img alt="PO Box 33333, Stanford, CA 94309" src="images/address2.gif">
</div>
