<div class="header_box"><div>Donate to BAMRU</div></div>

<div class="content">

  <div class="capsblue ten_px">How can I contribute to BAMRU?</div>
  BAMRU is an all-volunteer wilderness search and rescue (SAR) unit, based in
  the San Francisco Bay Area. We look for and help people lost or stranded
  anywhere outdoors in California.
  <p/>
  We were actively involved in searches for missing children including
  the recent search for a missing five-year-old girl who wandered off in
  Huddart Park outside Woodside, Sandra Cantu in Tracy, and the Girl Scout
  whom wandered from camp in the Santa Mateo / Santa Cruz mountains.  Recent
  searches also include elderly at-risk adults in San Francisco, Ross,
  Hillsborough, Corte de Madera Open Space Reserve, Golden Gate National Park
  and the Point Reyes National Seashore.   BAMRU also responded to search
  efforts at the San Bruno Fire.  We have had recent searches and rescues in
  the San Mateo County mountains, including Skyline Ridge Open Space, Portola
  State Park and along Highway 92.  We have conducted operations in most of
  the San Mateo County cities and towns, as well as many other Bay Area and
  California locations, including a number of national and state parks and
  forests.  More about our searches can be found on
  <a href="http://bamru.blogspot.com">our blog</a>.
  <p/>
  All of our funding comes from donations and member contributions, with some
  assistance from the San Mateo County Sheriff's Emergency Services Bureau
  primarily for fuel and ropes.  Substantially all of our expenditures go
  directly to fund searches, trainings, and support supplies and equipment.
  We have no paid employees, consultants, contractors or agents - all of our
  members are volunteers who donate their own personal time, personal gear,
  and personal contributions.
  <p/>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="9393182" />
    <input type="image" src="../www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
    <img alt="" border="0" src="../www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>

  <p/>
  We are an accredited member of the Mountain Rescue Association and are a FEMA and California OES Type I search and rescue resource. This means that we have the ability to operate safely and effectively, night or day, in all terrain, in all weather, and in all seasons.
  <p/>
  Members of BAMRU are climbers, mountaineers, backpackers and skiers who train in a variety of skills used for wilderness search and rescue. BAMRU members live all over the Bay Area, from Marin to Santa Cruz and from San Francisco to Contra Costa County.
  <p/>
  The unit is an independent, tax-exempt public charity as described in IRS section 501(c) (3) (Federal ID 23-7098709).  It is a non-profit corporation with an elected board of directors, affiliated with the San Mateo County (California) Sheriff's Emergency Services Bureau.
  <p/>
  BAMRU is a member organization of the Mountain Rescue Association and the Bay Area Search and Rescue Council (BASARC).
  <p/>
  BAMRU members donate their time for training and emergency operations. No payment is expected for our services.  BAMRU has also sponsored three other teams in achieving their Mountain Rescue Association accreditations.
  <p/>
  BAMRU is also in need of replacing its aging rescue truck with a 3/4 ton or larger 4x4 pickup or 4x4 van, and greatly welcomes donations for its replacement, including a direct donation of a new or reliable and serviceable used vehicle meeting BAMRU's mission needs.
  
</div>