<div style='margin: 20px;'>
  <h2>There was an error.</h2>
  <p></p>
  <b>Error Name:</b> <%= @error_name %>
  <p></p>
  <b>Error Message:</b> <%= @error_message %>
  <p></p>
  Please contact Andy if the problem persists.
</div>
