<div style='margin: 20px;'>
  <h2>There was an error.</h2>
  <p></p>
  <table>
    <tr>
      <td align=right>
        <b>Error Name:</b>
      </td>
      <td>
        <%= @error_name %>
      </td>
    </tr>
    <tr>
      <td align=right>
        <b>Error Message:</b>
      </td>
      <td>
        <%= @error_mesg %>
      </td>
    </tr>
  </table>
  <p></p>
  Please contact Andy if the problem persists.
</div>
