<div class="header_box"><div>Foster Calm Patient Report</div></div>

Many BAMRU members have taken Wilderness Medical training from
<a href="http://fostercalm.com">Foster Calm</a>, an excellent source of
first aid training in Northern California.<p/>

Foster Calm created a helpful Patient Report form.
With Foster Calm's permission, BAMRU has reproduced this Report in a format
that can be folded and carried in your wallet.  This Patient Report form is
carried by many BAMRU members.<p/>

Foster Calm has allowed BAMRU to make its Patient Report form available over
the web.  <b>Permission to download and carry this form is restricted only
to people who have successfully passed Foster Calm's training.</b>  Click <a href="http://roster.alt55.com/BAMRU-wallet-fcpr.pdf">this link</a>
to download the Foster Calm Patient Report.<p/>

If you are interested in putting your wilderness medical skills to work, and
want to learn more about <a href="/join">joining BAMRU</a>, please
complete the form below:<p/>

<form action="/no-op" style="margin-left: 3px; margin-bottom: 3px;">
  Your Name:<br/>
  <input type="text"><p/>
  Why are you interested BAMRU?<br/>
  <input type="text"><p/>
  Etc. Etc...<br/>
  <input type="text"><p/>
  <input type="submit" value="Send">
</form>

