<div class="header_box"><div>BAMRU Operations</div></div>

<form action="/operations" style="margin-left: 3px; margin-bottom: 3px;">
  Showing operations
  from <%=event_range_select(@start,@finish,"start", Event.operations)%>
  to <%=event_range_select(@start,@finish,"finish", Event.operations)%>
  <input type="submit" value="Change">
</form>

<iframe width="423" height="350" frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0"
        src="http://maps.google.com/?q=http:%2F%2Fbamru.org%2F<%=@filename%>&amp;ie=UTF8&amp;ll=38.3904,-121.2232&amp;spn=3.855285,0.03265&amp;t=p&amp;output=embed">
</iframe>
