<div class="header_box"><div>BAMRU Web Infrastructure</div></div>

<div class="content">

  BAMRU is a search and rescue team of volunteers who have found
  <a href="http://bamru.org/operations">hundreds of missing people</a>,
  <a href="http://bamru.blogspot.com/2011/10/huddart-park-find.html">young</a> and
  <a href="http://bamru.blogspot.com/2010/08/missing-woman-found-alive.html">old</a>, in
  life-changing events that affect <a href="http://bamru.blogspot.com/2011/02/shasta-search.html">families</a> and
  <a href="http://bamru.blogspot.com/2010/09/bamru-at-san-bruno-fire.html">communities</a>. Learn more
  at <a href="http://bamru.org">http://bamru.org</a>.<p></p>

  <div class="capsblue ten_px">BAMRU Web Infrastructure</div>
  Web-infrastructure is critical to our operations. BAMRU relies on a variety of tools, from database-driven administrative
  apps to mobile alerting apps. <p></p>
  But as a non-profit, BAMRU has no staff or budget. We have built our tools over the years with a volunteer
  group of technical collaborators.<p></p>
  BAMRU always needs technical people who
  are interested in helping to maintain and extend our tools.
  Each contribution makes a big impact for our organization.<p></p>

  <div class="capsblue ten_px">Who can help?</div>
  BAMRU has a variety of potential projects (listed below). We can adjust the scope of any project to
  match the abilities/interests of the contributor. We seek a fit where the developer has high
  enthusiasm for the project.<p></p>
  The best fit will be BAMRU members or outside individuals with a background in electronics, networking, software development, web
  marketing or graphic design.  Our projects are great for local college students in advanced computer
  science classes.<p></p>
  To get involved contact Andy Leak - 650-823-0836 - andy@r210.com<p></p>

  <div class="capsblue ten_px">BAMRU Projects</div>
  1. SMARTPHONE PAGING APP - Create an Android/IOS app that would supplement our current email/SMS paging alerts. The app must make a loud noise to wake members for middle-of-the-night callouts. Technical skills: PhoneGap, HTML/CSS/JS, WebSockets, Git, Backbone.js, light Ruby/Rails.<br>
  <br>2. WEB MARKETING - Update our public website style and add data entry forms for recruiting and fundraising prospects. Add tracking analytics, and launch an Adwords campaign ($10K/month budget). Measure and report the results. Technical skills: HTML/CSS/JS, Git, light Ruby/Rails, Twitter Bootstrap, Google AdWords &amp; Analytics.<br>
  <br>3. VOICE CONFERENCING SYSTEM - Use WebRTC to create a web-based voice conferencing system that can be used by both desktop and mobile clients. Integrate the conferencing system to BAMRU's paging system. Technical Skills: HTML/CSS/JS, WebRTC, Ruby/Rails, Git<br>
  <br>4. MOBILE SERVER / HOTSPOT - Help to create a mobile app server that will be used at remote command post locations. Technical Skills: WiFi Pineapple, Small Linux Servers (BeagleBone/RasberryPi/Parallella), GPS/3G integration, Database replication, Ruby/Rails.<br>
  <br>5. MOBILE WIKI - Adapt and customize Ward Cunningham's 'Smallest Federated Wiki' for use within the BAMRU Intranet. Technical Skills: CoffeeScript, Backbone, Sinatra, HTML/CSS.<br>
  <p></p>

  <div class="capsblue ten_px">Our Approach</div>
  For all of our projects, we value simple solutions that deliver a real benefit and are easy to
  operate and maintain.
  Contributors must be self-motivated and comfortable with an open-source work style.
  All contributions are welcome, big or small.

</div>