<div class="header_box"><div>BAMRU Web Infrastructure</div></div>

<div class="content">

  BAMRU is a volunteer/non-profit search and rescue team that has found and
  saved <a href="http://bamru.org/operations">hundreds of people</a>,
  <a href="http://bamru.blogspot.com/2011/10/huddart-park-find.html">young</a> and
  <a href="http://bamru.blogspot.com/2010/08/missing-woman-found-alive.html">old</a>,
  in life-changing events that affect <a href="http://bamru.blogspot.com/2011/02/shasta-search.html">families</a> and
  <a href="http://bamru.blogspot.com/2010/09/bamru-at-san-bruno-fire.html">communities</a>. Find more about us
  at <a href="http://bamru.org">http://bamru.org</a>.<p></p>

  <div class="capsblue ten_px">BAMRU Web Infrastructure</div>
  Web-infrastructure is critical to our operations. We have a wide variety of needs, from database-driven administrative
  apps to mobile alerting apps. <p></p>
  But as a volunteer organization, we have no staff or budget. We have built our tools over the years with a volunteer
  group of technical collaborators.<p></p>
  We are always looking for technical people who
  are interested in helping.  Each contribution makes a big impact for our organization.<p></p>

  <div class="capsblue ten_px">Who can help?</div>
  We have a variety of potential projects (listed below). We can adjust the scope of any of these projects to
  fit the abilities/interests of the contributor. What we'd like most is to find a fit where the developer has high
  enthusiasm for the project.<p></p>
  The best fit will be BAMRU members or outside individuals with a background in electronics, software development, web
  marketing or graphic design.  Our projects are a great fit for local college students taking advanced computer
  science classes.<p></p>
  If you are intersted in getting involved, contact Andy Leak - 650-823-0836 - andy@r210.com<p></p>


  <div class="capsblue ten_px">BAMRU Projects</div>
  <br>1. SMARTPHONE PAGING APP - Create an Android/IOS app that would replace and/or supplement our current email/SMS paging alerts. The app would make a loud noise to ensure that members would be woken for middle-of-the-night pages. Technical skills: PhoneGap, HTML/CSS/JS, WebSockets, Git, Backbone.js, light Ruby/Rails.<br>
  <br>2. WEB MARKETING - Finish our revised public website (draft at <a href="http://flex.bamru.info">flex.bamru.info</a>), tightly integrate the blog, add multiple data collection forms for recruiting and fundraising prospects. Add tracking analytics, and use our Adwords account ($10K/month budget). Design and launch a marketing campaign, then run the campaign, measure and report the results. Create training guides so people can enhance and operate the marketing tools after the project is finished. Technical skills: HTML/CSS/JS, Git, light Ruby/Rails, Twitter Bootstrap, Google AdWords &amp; Analytics.<br>
  <br>3. MULTI-TEAM DEPLOYMENT - Modify our intranet (BAMRU.net) so that we can deploy a copy of the software for use by our partners at San Mateo SAR and possibly other teams. Identify and isolate all BAMRU-specific aspects in the code, then create configurations or administration screens that allow other teams to localalize and deploy for their own use. Technical skills: HTML/CSS/JS, Git, heavy Ruby/Rails.<br>
  <br>4. MULTI-TENANT DESIGN AND PROTOTYPE - Define a technical architecture for an intranet application that can be used across multiple teams to speed communication in a mutual aid situation. Create a security/access control scheme that is appropriate for multi-team use. Create a component-based user interface that enables team administrators to create customized workspaces for an incident. Create a service-based architecture that enables teams to independently add new components to the system. Technical skills: Ruby/Rails, ZeroMQ, Celluloid::IO, Backbone.js, Git.<br>
  <br>5. VOICE CONFERENCING SYSTEM - Use WebRTC to create a web-based voice conferencing system that can be used by both desktop and mobile clients. Integrate the conferencing system to BAMRU's paging system. Technical Skills: HTML/CSS/JS, WebRTC, Ruby/Rails, Git<br>
  <br>6. MODERATED PHOTO GALLERY - Create a photo gallery app that enables members to publish photos and videos to a private repository. Create a moderator screen that enables an administrator to select media assets and republish them to Facebook, Flickr, and the BAMRU Blog. Technical Skills: HTML/CSS/JS, Ruby/Rails<br>
  <br>7. TRUCK TRACKING DEVICE - Create a GPS-enabled tracking device that would periodically send a position report to a BAMRU web-service. Create a web page that shows the truck's position on a google map. Create an html/mobile page that provides a way for members to 'check out' the truck, then report the ownership-status to a web-service. The 'check out' service might be implemented using a QR code, web interface, touch screen, or some other mechanism. Technical Skills: Arduino/BeagleBone/RasberryPi, GPS/3G integration, web services, bluetooth, HTML/CSS/JS, Ruby/Rails.<br>

</div>