<div class='guest_box'>
  <div class="copy" style="margin-top: 200px;">
    <a href="http://maps.google.com/?q=http:%2F%2Fbamru.info%2F<%=@filename%>&amp;ie=UTF8&amp;ll=38.3904,-121.2232&amp;spn=3.855285,0.03265&amp;t=p&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a>
  </div>
</div>
